/* Import OpenDyslexic font */
@import url("https://db.onlinewebfonts.com/c/66a105c2c6d3ca4bf2c6fa8b8e0df1bf?family=OpenDyslexic");
/* Import color stylings (connected to color scheme) */
@import url("colors.css");

body {
    font-family: sans-serif;
}
body.bold {
    font-weight: bold;
}
body.italic {
    font-style: italic;
}