/* Import OpenDyslexic font */
@import url("https://db.onlinewebfonts.com/c/66a105c2c6d3ca4bf2c6fa8b8e0df1bf?family=OpenDyslexic");
/* Styling */

#body {
  font-family: sans-serif;
}
#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

/* Row stylings */
.row.col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.row.col2 div, .row.col2 nav {
  margin: 10px;
  padding: 10px;
}
.row h2 {
  margin-top: 5px;
  margin-bottom: 0;
}

/* Navigation Stylings */
.menu ul {
  margin: 1em 0;
  padding: 0;
  list-style-type: none;
}
.menu ul li {
  margin: 0;
  padding: 0;
  display: inline;
}
.menu a {
  text-decoration: none;
  padding: .5em 1em;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

/* Upload Form Stylings */
.upload-button {
  padding: 5px 20px;
  font-size: 1em;
  margin-top: .5em;
}
.upload-button, input[type="file"] {
  cursor: pointer;
}

/* Misc Stylings */
.has-border, ul[role="menubar"] .has-border[role="menuitem"] {
  border: 2px solid black;
}
.margin-left-0, .row.col2 .margin-left-0 {
  margin-left: 0;
}
.margin-right-0, .row.col2 .margin-right-0 {
  margin-right: 0;
}

/* Text meant only for screen readers. Source: https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

@media only screen and (max-width: 1024px) {
  .row.col2 {
    grid-template-columns: 1fr;
  }
  .row.col2 div, .row.col2 nav {
    margin-left: 0;
    margin-right: 0;
  }
}