{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block h1 %}About - Accessible Video Editor{% endblock %}
{% block link1href %}/{% endblock %}
{% block link1text %}Editor{% endblock %}

<!-- TODO: Figure out how to make these considered alerts to screen reader users.
Setting an alert role didn't seem to help; should the alerts go at the top of the page? Decide later. -->
{% block box2keyboardshortcuts %}disabled{% endblock %}

{% block box1role %}navigation{% endblock %}
{% block box1attributes %}aria-label="Overview"{% endblock %}
{% block box1h2attributes %}class="margin-top-02-em"{% endblock %}
{% block box1h2 %}Overview{% endblock %}
{% block box1content %}
<ol>
    <li><a href="#about">About</a></li>
    <li><a href="#use">Usage</a></li>
    <li><a href="#shortcuts">Keyboard Shortcuts</a></li>
</ol>
{% endblock %}


{% block main %}
<h2 id="about">About AVE</h2>
<p>Accessible Video Editor (AVE) was made by Developers for Accessible Video Editing (DAVidE).</p>
<p>The developers of AVE are:</p>
<ul>
    <li>Robin Balatbat</li>
    <li>Ian Cullum</li>
    <li>Sam Dobesh</li>
    <li>Nick Harang</li>
    <li>Kale Kurtzhall</li>
</ul>
<h2 id="use">Using AVE</h2>
<p>Here are instructions on setting up and using AVE.</p>
<h3>Setting Up</h3>
<p>For information on setting up AVE in your own computer, refer to the README in the GitHub.</p>
<h3>Uploading a Video</h3>
<p>Here is how to upload a video.</p>
<ol>
    <li>Navigate to the Upload Video Form in the main section of the Homepage.</li>
    <li>Click the browse button to open up your File Explorer.</li>
    <li>Select your desired video file. **Editor currently only accepts .mp4 files.**</li>
    <li>Navigate to and click the Upload Video Button under the form.</li>
    <li>The page will now be updated with your video and video playback features!</li>
</ol>
<h3>Trimming a Video</h3>
<p>Here is how to trim a video.</p>
<ol>
    <li>Traverse to your specified timestamp and press the Update Marker 1 button. Anything before Marker 1 will be removed.</li>
    <li>Traverse to a later timestamp and press the Update Marker 2 button. Anything after Marker 2 will be removed.</li>
    <li>Press the Trim button.</li>
    <li>The video will be updated with the remaining section of the video.</li>
</ol>
<h3>Downloading a Video</h3>
<p>Here is how to download your video once edited.</p>
<ol>
    <li>Click the download button at the bottom of the page or use the keyboard shortcut ctrl+s.</li>
    <li>Your video download will begin. Depending on your browser setup, the video may automatically download or you may be prompted to confirm the download.</li>
</ol>
<h2 id="shortcuts">Keyboard Shortcuts</h2>
<p>AVE comes equipped with keyboard shortcuts to help streamline your video editing.</p>
<table>
    <caption class="screen-reader-text">Keyboard Shortcuts</caption>
    <tr><th>Shortcut</th><th>Action</th></tr>
    <tr>
        <td>P</td>
        <td>Play and pause video</td>
    </tr>
    <tr>
        <td>J</td>
        <td>Move back 10 seconds in video</td>
    </tr>
    <tr>
        <td>K</td>
        <td>Move back 1 second in video</td>
    </tr>
    <tr>
        <td>L</td>
        <td>Move forwards 1 second in video</td>
    </tr>
    <tr>
        <td>;</td>
        <td>Move forwards 10 seconds in video</td>
    </tr>
    <tr>
        <td>Ctrl + S</td>
        <td>Download the video</td>
    </tr>
    <tr>
        <td>Shift + Esc</td>
        <td>Emergency shut off for keyboard shortcuts</td>
    </tr>
</table>

{% endblock %}