{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block h1 %}About - Accessible Video Editor{% endblock %}
{% block link1href %}/{% endblock %}
{% block link1text %}Editor{% endblock %}

<!-- TODO: Figure out how to make these considered alerts to screen reader users.
Setting an alert role didn't seem to help; should the alerts go at the top of the page? Decide later. -->
{% block box2keyboardshortcuts %}disabled{% endblock %}

{% block box1role %}navigation{% endblock %}
{% block box1attributes %}aria-label="Overview"{% endblock %}
{% block box1h2attributes %}class="margin-top-02-em"{% endblock %}
{% block box1h2 %}Overview{% endblock %}
{% block box1content %}
<ol>
    <li><a href="#about">About</a></li>
    <li><a href="#use">Usage</a></li>
    <li><a href="#shortcuts">Keyboard Shortcuts</a></li>
</ol>
{% endblock %}


{% block main %}
<h2 id="about">About AVE</h2>
<p>Accessible Video Editor (AVE) was made by ...</p>
<h2 id="use">Using AVE</h2>
<p>Here are various things to use on AVE</p>
<h3>Setting Up</h3>
<p>For information on setting up AVE in your own computer, refer to the README in the GitHub.</p>
<h3>Uploading a Video</h3>
<p>Here is how to upload a video</p>
<h3>Trimming a Video</h3>
<p>Here is how to trim a video</p>
<h2 id="shortcuts">Keyboard Shortcuts</h2>
<p>AVE comes equipped with keyboard shortcuts to help streamline your video editing.</p>
<table>
    <caption class="screen-reader-text">Keyboard Shortcuts</caption>
    <tr><th>Shortcut</th><th>Action</th></tr>
    <tr>
        <td>Up arrow</td>
        <td>Scroll up the page</td>
    </tr>
    <tr>
        <td>Down arrow</td>
        <td>Scroll down the page</td>
    </tr>
</table>

{% endblock %}