<!--
Citations:
The ul menubars are based on the following w3 code: https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-2/menubar-2.html
-->
{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block h1 %}Accessible Video Editor{% if uploaded_video %}: {{uploaded_video}} {% endif %}{% endblock %}
{% block link1href %}/about{% endblock %}
{% block link1text %}About{% endblock %}

<!-- TODO: Figure out how to make these considered alerts to screen reader users.
Setting an alert role didn't seem to help; should the alerts go at the top of the page? Decide later. -->
{% block col1role %}alert{% endblock %}
{% block col1h2 %}Alerts{% endblock %}
{% block col1content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% else %}
<p>There are no alerts to display.</p>
{% endif %}
{% endwith %}
{% endblock %}


{% block main %}

<h2>{% if uploaded_video %}Video: {{uploaded_video}}{% else %}Upload Video{% endif %}</h2>
{% if not uploaded_video %}
<div style="display:none;">
{% endif %}
<video id="videoPlayer" preload="metadata" tabindex="-1" disablePictureInPicture>
    <source src="{{ url_for('send_uploaded_file', filename=uploaded_video) }}" type="video/mp4">
</video>
<div class="videoControls hidden" id="videoControls">

    <div class="video-progress">
        <progress id="progress-bar" value="0" min="0" aria-hidden="true"></progress>
        <input class="seek" id="seek" value="0" min="0" type="range" step="0.1" aria-label="Video Timeline">
        <div class="seek-tooltip" id="seek-tooltip" aria-hidden="true">00:00</div>
    </div>

    <div class="time">
        <!-- TODO accessible label for video progress/duration -->
        <time id="time-elapsed">00:00.00</time>
        <span> / </span>
        <time id="duration">00:00.00</time>
    </div>

    <nav aria-labelledby="video-nav-heading">
        <h3 class="screen-reader-text" id="video-heading">Playhead</h3>
        <ul class="inline">
            <li><button id="playButton" onclick="togglePlay()">Play</button></li>
            <li><button id="largeLeftStep">-10<span aria-hidden="true">s</span><span class="screen-reader-text">seconds</span></button></li>
            <li><button id="smallLeftStep">-1<span aria-hidden="true">s</span><span class="screen-reader-text">second</span></button></li>
            <li><button id="smallRightStep">+1<span aria-hidden="true">s</span><span class="screen-reader-text">second</span></button></li>
            <li><button id="largeRightStep">+10<span aria-hidden="true">s</span><span class="screen-reader-text">seconds</span></button></li>
            <!-- <li><button id="logTime" onclick="logCurrentTime()">Log Time to Console</button></li> -->
        </ul>
    </nav>
    <nav aria-labelledby="edit-heading">
        <h3 class="screen-reader-text" id="edit-heading">Edit</h3>
        <ul class="inline">
            <li><button id="playSelection" disabled>Play Selection</button></li>
            <li><button id="trim" disabled>Trim to Selection</button></li>
            <li><button id="delete" disabled>Delete Selection</button></li>
        </ul>
    </nav>
    <nav aria-labelledby="download-heading">
        <h3 class="screen-reader-text" id="download-heading">Download</h3>
        <form method="POST" action="{{ url_for('download_file', filename=uploaded_video) }}">
            <button id="download" class="large-button"> Download</button>
        </form>
    </nav>
</div>
<script src="{{ url_for('static', filename='scripts/videoPlayer.js')  }}"></script>
<script src="{{ url_for('static', filename='scripts/AVEVideoKeybinds.js')  }}"></script>
{% if not uploaded_video %}
</div>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
    <div>
        <label for="video">Upload a video &lpar;MP4&rpar;: </label>
        <input type="file" id="video" name="video" required accept=".mp4">
    </div>
    <button type="submit" class="large-button">Upload</button>
</form>
{% endif %}
{% endblock %}
