<!--
Citations:
The ul menubars are based on the following w3 code: https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-2/menubar-2.html
-->
{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block h1 %}Accessible Video Editor{% if uploaded_video %}: {{uploaded_video}} {% endif %}{% endblock %}
{% block link1href %}/about{% endblock %}
{% block link1text %}About{% endblock %}


{% block col2 %}
    <!-- TODO: Figure out how to make these considered alerts to screen reader users.
Setting an alert role didn't seem to help; should the alerts go at the top of the page? Decide later. -->
    {% block col1h2 %}Alerts{% endblock %}
    {% block col1content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no alerts to display.</p>
    {% endif %}
    {% endwith %}
    {% endblock %}
{% endblock %}

{% block main %}

<h2>{% if uploaded_video %}Video: {{uploaded_video}}{% else %}Upload Video{% endif %}</h2>

{% if uploaded_video %}
<video height="240" width="360" controls>
    <source src="{{ url_for('send_uploaded_file', filename=uploaded_video) }}" type="video/mp4">
</video>
{% else %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
    <div>
        <label for="video">Upload a video: </label>
        <input type="file" id="video" name="video" required>
    </div>
    <button type="submit" class="upload-button">Upload</button>
</form>
{% endif %}
{% endblock %}