<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} &#8211; Accessible Video Editor</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menubarAction.css')  }}">
    <!-- a11y options -->
    <script src="{{ url_for('static', filename='scripts/a11yStyles.js')  }}"></script>
    <!-- mousetrap -->
    <script src="{{ url_for('static', filename='scripts/mousetrap.min.js')  }}"></script>
</head>

<body>
    <div id="wrapper">
        <a class="screen-reader-text skip-link" href="#content">Skip to Content</a>
        <header>
            <nav aria-label="Primary" class="menu">
                <ul>
                    <!-- {% block link1 %}{% endblock %} -->
                    <li><a class="menu-link" href="{% block link1href %}{% endblock %}">{% block link1text %}{% endblock
                            %}</a></li>
                    <li><a class="menu-link" href="https://github.com/sjdobesh/ave">GitHub</a></li>
                </ul>
                <hr aria-hidden="true">
            </nav>

            <div class="two-col">
                <nav class="has-border padding-10px" aria-labelledby="a11y-options">
                    <h2 id="a11y-options" class="screen-reader-text">Accessibility Options</h2>
                    <span {% block box2editorattributes %}{% endblock %}>
                        <!-- <input type="checkbox" id="shortcuts" name="shortcuts" value="shortcuts">
                <label for="shortcuts"> Keyboard shortcuts</label> -->
                    </span>
                    <form onsubmit="return updateDisplay();" name="a11y-form" method="POST" class="two-col-80-20">
                        <div>
                            <span class="display-block">
                                <label for="color-scheme-select">Color Scheme</label>
                                <select name="color-scheme-select" id="color-scheme-select">
                                    <option value="light">Light - Current</option>
                                    <option value="light-gentle">Gentle light</option>
                                    <option value="dark">Dark</option>
                                    <option value="dark-gentle">Gentle dark</option>
                                </select>
                            </span>
                            <span class="display-block">
                                <label for="font-select">Font</label>
                                <select name="font-select" id="font-select">
                                    <option value="sans-serif">Sans Serif - Current</option>
                                    <option value="serif">Serif</option>
                                    <option value="monospace">Monospace</option>
                                    <option value="opendyslexic">Open Dyslexic</option>
                                </select>
                            </span>
                        </div>
                        <span class="display-block">
                            <input type="submit" value="Update Page" class="large-button">
                        </span>
                    </form>
                    <hr aria-hidden="true" class="small-screen">
                </nav>
                <div class="has-border padding-10px" role="{% block box1role %}{% endblock %}" {% block box1attributes
                    %}{% endblock %}>
                    <h2 {% block box1h2attributes %}{% endblock %}>{% block box1h2 %}{% endblock %}</h2>
                    {% block box1content%}{% endblock %}
                </div>
            </div>
            <hr aria-hidden="true">
        </header>

        <main id="content">
            <h1>{% block h1 %}{% endblock %}</h1>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <!-- TODO: Add footer here; copyright info? -->
            <!-- <hr aria-hidden="true"> -->
        </footer>
</body>

</html>