<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} &#8211; Accessible Video Editor</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menubarAction.css')  }}">
    <!-- A11y options menubar scripts -->
    <script src="{{ url_for('static', filename='scripts/MenubarAction.js')  }}"></script>
    <script src="{{ url_for('static', filename='scripts/MenubarItemAction.js')  }}"></script>
    <script src="{{ url_for('static', filename='scripts/PopupMenuAction.js')  }}"></script>
    <script src="{{ url_for('static', filename='scripts/PopupMenuActionItem.js')  }}"></script>
    <script src="{{ url_for('static', filename='scripts/menubar-2-init.js')  }}"></script>
    <script src="{{ url_for('static', filename='scripts/styleManager.js')  }}"></script>
    <!-- mousetrap -->
    <script src="{{ url_for('static', filename='scripts/mousetrap.min.js')  }}"></script>
</head>

<body>
    <div id="wrapper">
        <a class="screen-reader-text skip-link" href="#content">Skip to Content</a>
        <header>
            <h1>{% block h1 %}{% endblock %}</h1>
            <hr aria-hidden="true">
        </header>
        <nav aria-label="Primary" class="menu">
            <ul>
                <!-- {% block link1 %}{% endblock %} -->
                <li><a class="menu-link" href="{% block link1href %}{% endblock %}">{% block link1text %}{% endblock
                        %}</a></li>
                <li><a class="menu-link" href="https://github.com/sjdobesh/ave">GitHub</a></li>
            </ul>
            <hr aria-hidden="true">
        </nav>


        <!-- Row with columns -->
        <!-- TODO: Discuss single or multiple navigations -->
        <div class="row col2">
            <!--row with 2 columns-->
            <div class="has-border margin-left-0" role="{% block col1role %}{% endblock %}" {% block col1attributes %}{% endblock %}>
                <!--column 1 of 2-->
                <h2>{% block col1h2 %}{% endblock %}</h2>
                {% block col1content%}{% endblock %}
                <hr aria-hidden="true" class="small-screen">
            </div>
            <nav class="has-border margin-right-0" aria-labelledby="a11y-options">
                <!--column 2 of 2-->
                <h2 id="a11y-options">Accessibility Options</h2>
                <ul id="menubar1" role="menubar" aria-labelledby="a11y-options">
                    <li role="none">
                        <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" class="has-border">
                            Settings
                        </a>
                        <ul role="menu" data-option="settings" aria-label="Settings">
                            <li role="menuitemcheckbox" data-option="shortcuts" aria-checked="false">
                                Keyboard shortcuts
                            </li>
                            <li role="menuitemcheckbox" data-option="sounds" aria-checked="false">
                                Sound feedback
                            </li>
                        </ul>
                    </li>
                    <li role="none">
                        <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" class="has-border">
                            Color&nbsp;Scheme
                        </a>
                        <ul role="menu" aria-label="Color Scheme" data-option="color-scheme">
                            <li role="menuitemradio" aria-checked="true">
                                Light mode
                            </li>
                            <li role="menuitemradio" aria-checked="false">
                                Light mode (Gentle)
                            </li>
                            <li role="menuitemradio" aria-checked="false">
                                Dark mode
                            </li>
                            <li role="menuitemradio" aria-checked="false">
                                Dark mode (Gentle)
                            </li>
                        </ul>
                    </li>
                    <li role="none">
                        <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" class="has-border">
                            Font
                        </a>
                        <ul role="menu" data-option="font-family" aria-label="Font">
                            <li role="menuitemradio" aria-checked="true">
                                Sans-serif
                            </li>
                            <li role="menuitemradio" aria-checked="false">
                                Serif
                            </li>
                            <li role="menuitemradio" aria-checked="false">
                                Monospace
                            </li>
                            <li role="menuitemradio" aria-checked="false">
                                OpenDyslexic
                            </li>
                            <li role="separator"></li>
                            <li role="menuitemcheckbox" data-option="font-bold" aria-checked="false">
                                Bold
                            </li>
                            <li role="menuitemcheckbox" data-option="font-italic" aria-checked="false">
                                Italic
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <hr aria-hidden="true">

        <main id="content">
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <!-- TODO: Add footer here; copyright info? -->
            <!-- <hr aria-hidden="true"> -->
        </footer>
</body>

</html>